{% extends 'list.html' %}

{% block columns %}
<tr>
    <th align="center" scope="col" style="width: 10%;">Nro</th>
    <th scope="col" style="width: 30%;">Genero</th>
    <th scope="col" style="width: 50%;">Descripcion</th>
    <th align="center" scope="col" style="width: 10%;">Opciones</th>
</tr>
{% endblock %}

{% block rows %}
{% for c in object_list %}
<tr>
    <td align="center">{{ c.idSexo }}</td>
    <td>{{ c.sexo }}</td>
    <td>{{ c.descripcion }}</td>
    <td align="center">
        <a href="{% url 'erp:genero_update' c.idSexo %}" class="btn btn-primary btn-xs">
            <i class="fas fa-edit"></i>
        </a>
        <a href="{% url 'erp:genero_delete' c.idSexo %}" class="btn btn-danger btn-xs">
            <i class="fas fa-trash-alt"></i>
        </a>
    </td>
</tr>
{% endfor %}
{% endblock %}
